body {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight:300; 
    background: #fff;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; color: #666;}
h3 { font-size: 1.5em; }
h4 { font-size: 1em; }
h5 { font-size: .8em; }
p { font-size: 1em; color: #999; }

a, a:link, a:visited, a:active, a:hover { text-decoration: none; }
a.light_gray { color: #bbb; }
!a:hover.light_gray { color: #808080; }
a:hover.light_gray { color: #0069D6; }
a:hover.dark_blue { color: #0069D6; }
.light_gray { color: #bbb; }
.dark_gray { color: #808080; }
.dark_blue { color: #00438a; }
.thumbnail { width: 210px; }
.blurb { margin-bottom: 20px; }
.small_marg { margin-bottom: 10px; }
.italic { font-style: italic; }
.uniheight1 { height: 250px; }
.uniheight2 { height: 80px; }
.uniheight3 { padding-top: 30px; padding-bottom: 30px; }
.uniheight4 { padding-top: 10px; padding-bottom: 10px; }
.uniheight5 { padding-top: 5px; padding-bottom: 5px; }
.uniheght6 { padding-top: 2px; padding-bottom: 2px; }

#header { margin-top: 50px; margin-bottom: 50px; }
#banner { margin-top: 90px; margin-bottom: 70px; }
#social h2 { margin-bottom: 10px; }
#content p { line-height: 110%; margin-bottom: 5px; padding-right: 20px; }
#content h2 { margin-bottom: 10px; }

#footer {
	background: #fff;
	text-align: center;
	margin: 15px auto;
	margin-top: 45px;
	!height: 20px;
}
#footer p { color: #bbb; }